.header {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.header .inner {
    max-width: 1440px;
    height: 96px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header .inner .gnb>ul {
    display: flex;
    gap: 32px;

}

.header .inner .gnb>ul>li {
    position: relative;
}

.header .inner .gnb>ul>li>a {
    display: block;
    line-height: 96px;
    font-size: 16px;
    font-weight: 500;

    color: #fff;
}

.header .inner .gnb>ul>li .sub {
    display: none;
    position: absolute;
    top: 96px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);

    color: #fff;

    white-space: nowrap;
    padding: 0 24px 8px 24px;
}

.header .inner .gnb>ul>li:hover .sub {
    display: block;
}

.header .inner .gnb>ul>li:hover .sub a {
    display: block;
    line-height: 40px;
    text-align: left;

    font-size: 14px;
}

.header .utills {
    display: flex;
    gap: 8px;
}

.header .utills button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 8px 8px;
}

.main_visual {
    position: relative;
}

.main_visual .itm {
    height: calc(100vh);
}

.main_visual .itm01 {
    background: url(../images/main_visual_01.png)no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual_02.png)no-repeat center center/cover;
}

.main_visual .itm .title {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1440px;
    width: 100%;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.main_visual .itm .title p {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;

    margin-bottom: 8px;
}

.main_visual .itm .title p::before {
    position: absolute;
    content: "";
    left: 232px;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 1px;
    background: #FFFAFA;
    opacity: 0.3;
}

.main_visual .itm02 .title p::before {
    position: absolute;
    content: "";
    left: 208px;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 1px;
    background: #FFFAFA;
    opacity: 0.3;
}

.main_visual .itm .title strong {
    font-size: 60px;
    font-weight: 600;
    line-height: 64px;
    color: #fff;
}

.main_visual .quick {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);


    max-width: 1440px;
    width: 100%;

    display: flex;
    gap: 12px;


    font-size: 20px;
    line-height: 32px;
    color: #fff;

    z-index: 999;
}


.main_visual .quick a {
    position: relative;
    display: flex;


    width: 160px;
    padding: 24px 24px;
    background: rgb(217, 217, 217, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgb(255, 250, 250, 0.5);


}

.main_visual .quick i {
    position: absolute;

    bottom: 26px;
    right: 24px;

    height: 24px;
}

.main_visual .scroll {
    position: absolute;

    left: 50%;
    bottom: 180px;
    z-index: 2;

    max-width: 1440px;
    width: 100%;
    transform: translate(-50%, 0);
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 180px;
    background: rgba(255, 255, 255, 0.2);
}


.main_visual .scroll::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;

    animation: wheel 1.5s ease-out infinite;
}


@keyframes wheel {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }

    50% {}


    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(180px) scale(2);
    }
}

.main_hall {
    position: relative;
    padding: 120px 0;
}

.main_hall .inner {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main_hall h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    color: #333;

    margin-bottom: 40px;
}

.main_hall .inner .tab_menu {
    display: flex;
    gap: 16px;

    margin-bottom: 40px;
}

.main_hall .inner .tab_menu::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 380px;
    transform: translate(0, 0);

    height: 1px;
    width: 537px;

    background: #E8EBED;
}

.main_hall .inner .tab_menu li button {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;

    color: #444;
}

.main_hall .inner .tab_menu li.on button {
    position: relative;
    font-weight: 600;

}

.main_hall .inner .tab_menu li.on button::after {
    content: "";
    position: absolute;
    left: -6px;
    top: -50%;
    width: 16px;
    height: 16px;
    background: #EDEBE8;
    border-radius: 50%;

    z-index: -1;
}

.main_hall .tab_content {}

.main_hall .tab_content .itm {
    text-align: center;
    height: 0;
    overflow: hidden;
}

.main_hall .tab_content .itm.on {
    height: auto;
    overflow: visible;
}

.main_hall .tab_content .itm .desc {
    position: absolute;
    right: 350px;
    bottom: 0;
    background: #fff;
    width: 370px;
    height: 480px;
    z-index: 999;
    border-radius: 250px 250px 0 0;
    border: 1px solid #ddd;
}

.main_hall .tab_content .itm .keyword {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;

    color: #444;

    margin-top: 120px;
    margin-bottom: 8px;
}

.main_hall .tab_content .itm .tit {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;

    color: #444;

    margin-bottom: 16px;

}

.main_hall .tab_content .itm .txt::after {
    content: "";
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 1px;
    background: #E8EBED;
}

.main_hall .tab_content .itm .txt span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #444;

    margin-bottom: 40px;
}

.main_hall .tab_content .itm .txt p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #444;

    margin-bottom: 32px;
}

.main_hall .tab_content .itm button {
    position: relative;
    padding: 8px 16px;
    background: #E8EBED;
    box-shadow:
        0 16px 40px rgba(217, 220, 222, 0.4),
        0 16px 40px rgba(217, 220, 222, 0.4);
    z-index: 999;
}

.main_hall .tab_content .itm button a {
    font-size: 13px;
    line-height: 1px;
    font-weight: 500;

    color: #444;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm {
    height: 600px;
    border-radius: 50px;
    max-width: 1440px;
    width: 100%;

    filter: grayscale(1);
    opacity: 0.4;

}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm.swiper-slide-active {
    filter: grayscale(0);
    opacity: 1;
    transition: 0.5s;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm01 {
    background: url(../images/main_hall_slide_01_01.jpg)no-repeat center center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm02 {
    background: url(../images/main_hall_slide_01_02.jpg)no-repeat top center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm03 {
    background: url(../images/main_hall_slide_01_03.jpg)no-repeat center center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm04 {
    background: url(../images/main_hall_slide_01_04.jpg)no-repeat bottom center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm05 {
    background: url(../images/main_hall_slide_01_05.jpg)no-repeat center center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm06 {
    background: url(../images/main_hall_slide_01_06.jpg)no-repeat bottom center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm07 {
    background: url(../images/main_hall_slide_01_07.jpg)no-repeat center center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm08 {
    background: url(../images/main_hall_slide_01_08.jpg)no-repeat center center/cover;
}

.main_hall .tab_content .itm .tab_slide_area .tab_slide .slide_itm09 {
    background: url(../images/main_hall_slide_01_09.jpg)no-repeat center center/cover;
}

.main_special {
    padding: 80px 0 200px 0;
    background: #F7F8F9;
}

.main_special .title {
    max-width: 1170px;
    margin: 0 auto;
}

.main_special .title h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

    margin-bottom: 48px;
}

.main_special .slide_wrap {
    position: relative;
}

.main_special .slide_wrap .inner {
    max-width: 1170px;
    margin: 0 auto;
}

.main_special .slide_wrap .inner .main_special_slide .itm {
    position: relative;
    height: 264px;
    width: 270px;

    z-index: 999;
}

.main_special .slide_wrap .inner .main_special_slide .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #fff;
    border-radius: 300px 300px 0 0;
}

.main_special .slide_wrap .inner .main_special_slide .itm .num {
    position: absolute;
    top: -10px;
    left: 0%;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: #EDEBE8;
    z-index: -1;

    padding-top: 4px;

}

.main_special .slide_wrap .inner .main_special_slide .itm i {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_special .slide_wrap .inner .main_special_slide .itm .desc {
    position: absolute;
    top: 184px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #444;
    text-align: center;
}

.main_special .slide_wrap .inner .main_special_slide .itm .desc::before {
    position: absolute;
    left: 50%;
    top: -16px;
    transform: translate(-50%, 0);
    content: "";
    width: 130px;
    height: 1px;
    background: #E8EBED;
}

.main_special .slide_wrap .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;

    max-width: 1350px;
    width: 100%;
}

.main_special .slide_wrap .arrows button {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #EDEBE8;
    border-radius: 50%;
}

.main_party {
    position: relative;
    padding: 80px 0 175px 0;
    background: #fff;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: -120px;
}

.main_party .inner {
    max-width: 1170px;
    margin: 0 auto;
}

.main_party .inner::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 1px;
    height: 104px;
    background: #E8EBED;
}

.main_party .inner h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

    margin-bottom: 48px;
}

.main_party .inner .itm {
    position: relative;
    display: flex;
    gap: 38px;
    justify-content: space-between;

    align-items: center;

    margin-bottom: 40px;
}

.main_party .inner .itm .txt {
    flex: 1;
}

.main_party .inner .itm01 .zone::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 170px;
    height: 248px;
    background: rgba(255, 255, 255, 0.5);
}

.main_party .inner .itm03 .zone::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 170px;
    height: 248px;
    background: rgba(255, 255, 255, 0.5);
}

.main_party .inner .itm02 {
    position: relative;
}

.main_party .inner .itm02 .zone::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 170px;
    height: 248px;
    background: rgba(255, 255, 255, 0.5);
}

.main_party .inner .itm .txt .tit {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #444;

    margin-bottom: 8px;
}

.main_party .inner .itm01 .txt .tit {
    position: relative;
}

.main_party .inner .itm01 .txt .tit strong::before {
    position: absolute;
    top: 50%;
    left: 130px;
    transform: translate(0, -50%);
    content: "";
    width: 72px;
    height: 1px;
    background: #E8EBED;
}

.main_party .inner .itm02 .txt .tit {
    position: relative;
}

.main_party .inner .itm02 .txt .tit strong::before {
    position: absolute;
    top: 50%;
    right: 160px;
    transform: translate(0, -50%);
    content: "";
    width: 72px;
    height: 1px;
    background: #E8EBED;
}

.main_party .inner .itm03 .txt .tit {
    position: relative;
}

.main_party .inner .itm03 .txt .tit strong::before {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translate(0, -50%);
    content: "";
    width: 72px;
    height: 1px;
    background: #E8EBED;
}


.main_party .inner .itm02 {
    text-align: right;
}

.main_party .inner .itm .txt .desc span {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #333;

    margin-bottom: 16px;
}

.main_party .inner .itm .txt .desc p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #333;

    margin-bottom: 16px;
}

.main_party .inner .itm .txt button {
    position: relative;
    padding: 8px 16px;
    background: #E8EBED;
    box-shadow:
        0 16px 40px rgba(217, 220, 222, 0.4),
        0 16px 40px rgba(217, 220, 222, 0.4);
    z-index: 999;
}

.main_party .inner .itm .txt button a {
    font-size: 13px;
    line-height: 1px;
    font-weight: 500;

    color: #444;
}

.main_banner {
    position: relative;
    padding: 56px 0;
    background: #fff;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: -120px;

    box-shadow: 4px 4px 38px rgba(0, 0, 0, 0.05), 4px 4px 30px rgba(0, 0, 0, 0.05);
}

.main_banner .inner {
    max-width: 1170px;
    margin: 0 auto;


}

.main_banner .inner .title {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.main_banner .inner .title h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #444;
}

.main_banner .inner .title p {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #444;
}

.main_banner .inner .input_wrap {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    outline: none;
}

.main_banner .inner .input_wrap>* {
    flex: 1;
}

.main_banner .inner .input_wrap input {
    padding: 24px;
}